{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}

<div class="container">
<div class="row">
<div class="col-sm-12">
	<h3><center>About Us</center></h3>
	<p>Founded in 2006 by Christopher  N. Eneogwe and incorporated in 2014. Benatex Multi-Resources And Logistics Limited is a company dedicated in giving our clients needed satisfactions in all fields of services we provide. We have over twelve (12)years pre-incorporation and corporation experience
	</p>

	<h3><center>Professional Standards</center></h3>
	<p>
		Our experienced experts, consultants, engineers, partners, associates are certified professionals who are locally and/or internationally trained to meet standards and expectations.
	</p>
</div>
	
</div>
	
</div>

{% endblock %}